body {
  margin:0;
  background-color: gray
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color:red;
}
#about-me {
    border-style:solid;
    padding: 20px 15px;
    margin:auto;
    width: 600px;
    height: 600px;
    margin-top: 100px;
    background-color: white;
    padding-right: 64px;
    padding-left: 64px;
    border: solid red thick;
    font-size: 24px;
    
  }
  #thelina-main-img {
    margin-top: 20px;
    width: 340px;
    float: left;
    border: solid;
    border-color: red;
    
  }

  .right-float {
      float: right;
      width: 40%;
      margin-top: 20px;
    
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color:red;
  }
  .container {
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
    float: right;
  }
  .column {
    float: right;
    width: 40%;
    margin-top: 6px;
    padding: 20px;
    margin-top: 70px;
    margin-right: 100px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
